body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 49, 82);
}

p {
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho {
    border-bottom: 1px rgb(30, 49, 82) solid;
    text-align: center;
}

header#cabecalho h1 {
    font-size: 30pt;
    color: rgb(30, 49, 82);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    margin-bottom: 0px; 
}
header#cabecalho h2 {
    color: rgb(136, 136, 136);
    font-size: 20pt;
    margin-top: 0px;
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 120px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

main {
    background-color: white;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.473);
}

section#corpo {
    display: block;
	border-right: 1px solid rgb(30, 49, 82);
    padding-right: 15px;
    border-left: 1px solid rgb(30, 49, 82);
    padding-left: 15px;
}

article#noticia-principal h2 {
    font-size: 15pt;
    color: rgb(30, 49, 82);
    background-color: rgb(221, 221, 221);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

a {
    color: rgb(30, 49, 82);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer#rodape {
    border-top: 1px solid rgb(30, 49, 82);
    font-style: italic;
}

footer#rodape p {
    text-align: center;
}